.header-h{
	height: 70px;
}
.main-h{
	height: 1600px;
}
.sec-1-h{
	height: 550px;
}
.secbox-1-h{
	height: 50px;
}
.sec-2-1-h{
	height: 100px;
}
.sec-2-2-h{
	height: 300px;
}
.sec-2-3-h{
	height: 230px;
}